<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Review Details</title>
</head>
<body>
    <h1>Review Details</h1>
    <p th:text="${review.reviewStatus}"></p>
    <form th:action="@{'/admin/review/' + ${review.id}}" method="post">
        <input type="hidden" name="status" value="true">
        <button type="submit">Accept</button>
    </form>

    <form th:action="@{'/admin/review/' + ${review.id}}" method="post">
        <input type="hidden" name="status" value="false">
        <button type="submit">Deny</button>
    </form>

</body>
</html>